.card__like-button {
  width: 21px;
  height: 18px;
  background: transparent url('../../../images/like-inactive.svg') no-repeat;
  
  background-size: 21px 18px;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  right: 20px;
  bottom: 39px;
}

.card__like-button-counter {
  color: #000;
  font-size: 13px;
  position: absolute;
  right: 27px;
  bottom: 19px;
  transition: .3s;
}

.card__like-button-counter-change {
  transition: .9s;
  transform: rotateY(360deg);
}

.card__like-button:hover {
  opacity: 0.6;
}

.card__like-button:active{
  transition: 0.1s;
  transform: scale(1.5)
}
