.popup__form {
  margin-top: 34px;
}

.popup__error {
  opacity: 0;
  color: #F00;
  font-size: 12px;
  transition: 0.3s;
  display: inline-block;
  block-size: 26px;
}

.popup__error_visible {
  opacity: 1;
}
